/*div
{
	color: deeppink;
}*/
/*.suibian{
	color: red
}*/
.G {
	color: blue;
	font-size: 25px 
 }
 .o1 {
 	color: red;
 	font-size: 15px
 }
 .o2 {
 	color: orange;
 	font-size: 15px
 }
 .g {
 	color: blue;
 	font-size: 15px;
 }
 .l {
 	color: green;
 	font-size: 15px
 }
 .e {
 	color: red;
 	font-size: 15px
 }